.contact-first {
  padding: clamp(44px, 4.219vw, 60px) 0 clamp(70px, 6.329vw, 90px);

  &__box {
    display: flex;

    grid-gap: 20px;

@include tablet {
      flex-direction: column;
      align-items: center;

      grid-gap: 60px;
    }
  }
}
