.delivery-cards {
  position: relative;

  padding-bottom: 118px;


  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 10px;

    background-color: var(--bg-b);
  }
}
