.delivery-section {
  padding-top: clamp(40px, 5.626vw, 80px);
  padding-bottom: clamp(35px, 4.219vw, 60px);

@include tablet {
    padding-top: clamp(16px, 1.336vw, 19px);
  }

@include mobile {
    padding-top: 18px;
  }
}
