// .overlay {
//   visibility: visible !important;
//   opacity: 1 !important;
// }

.modals-inner {
  z-index: 90;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: -webkit-fill-available;
  padding: 20px;

  pointer-events: none;
}

.modals {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-width: 656px;
  min-height: 581px;
  padding: clamp(40px, 3vw, 48px) clamp(20px, 2.313vw, 37px);

  background-color: var(--bg-x);
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 16px;

  pointer-events: initial;

  grid-gap: 35px;

  &.active {
    display: flex;
  }
}


