.shop-section {
  padding-top: clamp(35px, 4.219vw, 60px);
  padding-bottom: 35px;

@include mobile {
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    grid-gap: 40px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
