.stock-tabs {
  padding-bottom: clamp(25px, 3.727vw, 53px);

  background-repeat: no-repeat;
  background-position: top right;
  background-size: 55% 70%;

@include laptop {
    background-size: auto;
  }

@include small-tablet {
    background-position: right, 40%;
    background-size: 70%;
  }
}
