<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-top">
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Пивоварня</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Рестораны</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Магазины</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Наше Пиво</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">О нас</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Доставка</a>
            </li>
            <li class="nav-list__item">
              <a href="#" class="nav-list__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="footer-top__social">
          <a href="#" class="footer-top__link">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#facebook'></use>
            </svg>
          </a>
          <a href="#" class="footer-top__link">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#instagram'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <span class="footer-bottom__name">© 2020 Кишинев, Молдова. Все права защищены.</span>



        <div class="footer-switch header-switch">
          <span class="footer-switch__lang">Изменить язык:</span>
          <button href="#" class="header-switch__btn active">RO</button>
          <button href="#" class="header-switch__btn">RU</button>
        </div>

        <span class="footer-bottom__dev">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#ilab'></use>
          </svg>
          developed by ilab.md
        </span>
      </div>
    </div>
  </div>
</footer>