<div class="overlay" data-overlay>
    

        <div class="modals" data-popup="modal1"  style="background-image:url(../img/index/back.png) ;">

            <button class="modals__btn close">
                <svg width="22" height="22">
                    <use href='img/sprite/sprite.svg#close'></use>
                </svg>
            </button>
            <div class="modals-top">
                <h3 class="modals-top__title">
                    Оформление заказа
                </h3>
               
            </div>
            <div class="modals-box">
                <form action="#" class="modal-form">
                    <label for="#" class="modal-form__label">
                        <span class="modal-form__name">Имя*:</span>
                        <input type="text" class="modal-form__input">
                    </label>
                    <label for="#" class="modal-form__label">
                        <span class="modal-form__name">Телефон*:</span>
                        <input type="number" class="modal-form__input">
                    </label> 
                    <label for="#" class="modal-form__label">
                        <span class="modal-form__name">Адрес магазина*:</span>
                          <div class='modal-select select'>
                            <div class='modal-select__header select__header'>
                              <span class='modal-select__current select__current'>Адрес магазина</span>
                              <div class='modal-select__icon select__icon'>
                                <svg width='14' height='8'>
                                  <use href='img/sprite/sprite.svg#arrow-b3'></use>
                                </svg>
                              </div>
                            </div>
                            <div class='select__body'>
                              <ul class='modal-select__wrapp select__wrapp'>
                                <li class='modal-select__item select__item' data-choice='choosen'>Кишинев, ул. Пушкина, 4</li>
                                <li class='modal-select__item select__item' data-choice='choosen'>Кишинев, ул. Пушкина, 4</li>
                              </ul>
                            </div>
                          </div>
                    </label>
                    <label for="#" class="modal-form__label">
                        <span class="modal-form__name">Дата и время*:</span>
                          <div class='modal-select select'>
                            <div class='modal-select__header  select__header'>
                              <span class='modal-select__current select__current'>Сегодня, 27 декабря, 12:00</span>
                              <div class='modal-select__icon select__icon'>
                                <svg width='14' height='8'>
                                  <use href='img/sprite/sprite.svg#arrow-b3'></use>
                                </svg>
                              </div>
                            </div>
                            <div class='select__body'>
                              <ul class='modal-select__wrapp select__wrapp'>
                                <li class='modal-select__item select__item' data-choice='choosen'>Сегодня, 27 декабря, 13:00</li>
                                <li class='modal-select__item select__item' data-choice='choosen'>Сегодня, 27 декабря, 14:00</li>
                              </ul>
                            </div>
                          </div>
                    </label>
                    <label for="#" class="modal-form__label--area modal-form__label">
                        <span class="modal-form__name">Коментарий:</span>
                       <textarea name="message" class="modal-form__area"></textarea>
                    </label> 

                    <button type="submit" class="modal-form__btn yellow-btn">Oформить заказ</button>
                </form>              
            </div>
        </div>

       
</div>










