.about-swiper {
  position: relative;

  flex-shrink: 0;
  width: 100%;
  max-width: 800px;
  padding-bottom: 64px;


  &__pagination {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: end;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    font-family: var(--font-family1);
    color: var(--color-j);

@include small-tablet {
      justify-content: center;
    }

    .swiper-pagination-current {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
      font-family: var(--font-family1);
      color: var(--color-a);
    }
  }
}
