.about-swiper {
  position: relative;

  flex-shrink: 0;
  width: 100%;
  max-width: 800px;


  &__pagination {
    position: absolute;
    bottom: -10%;
    left: 67%;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    font-family: var(--font-family1);
    color: var(--color-j);

    transform: translate(-75%, 10%);

@include tablet {
      left: 90%;

      transform: translate(-78%, 10%);
    }

@include small-tablet {
      display: none;
    }

    .swiper-pagination-current {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 140%;
      font-family: var(--font-family1);
      color: var(--color-a);
    }
  }
}
