.delivery-sublist {
  display: flex;
  align-items: center;

  grid-gap: 53px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;

    grid-gap: 20px;

    &:hover {
      .delivery-sublist__img {
        img {
          border: 3px solid var(--color-g);
        }
      }
      .delivery-sublist__name {
        color: var(--color-f);
      }
    }
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;

    transition: all 0.4s;
  }

  &__discount {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;

    background-color: var(--bg-r);
    border-radius: 50%;
  }

  &__more {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-g);
    text-transform: uppercase;
  }

  &__img {
    position: relative;



    img {
      width: 100%;

      border: 3px solid transparent;
      border-radius: 50%;

      transition: all 0.4s;
    }
  }

  &__more {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
