.delivery-sublist {
  display: flex;
  align-items: center;

  grid-gap: clamp(30px, 4.43vw, 53px);



  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;

    grid-gap: 20px;

// @include laptop {
    //       &:nth-child(3) {
    //         display: none;
    //       }
    //     }
    // @include small-tablet {
    //       &:nth-child(1) {
    //         display: none;
    //       }
    //     }
    @include for-laptop {
      &:nth-child(3) {
        display: flex !important;
      }
    }

@include for-tablet {
      &:nth-child(2) {
        display: flex !important;
      }
    }

@include for-small-mobile {
      &:not(:first-child,:last-child) {
        display: none;
      }
    }

    &:hover {
      .delivery-sublist__img {
        img {
          border: 3px solid var(--color-g);
        }
      }
      .delivery-sublist__name {
        color: var(--color-f);
      }
    }
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;

    transition: all 0.4s;
  }

  &__discount {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;

    background-color: var(--bg-r);
    border-radius: 50%;
  }

  &__more {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-g);
    text-transform: uppercase;
  }

  &__img {
    position: relative;

    width: 100%;


    img,
    picture {
      display: block;
      width: 100% !important;

      border: 3px solid transparent;
      border-radius: 50%;

      transition: all 0.4s;
    }
  }

  &__more {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
