.delivery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc((1422px - 1280px) / 2);

  transition: all 0.4s;

  @include tablet {
    padding: 10px;
  }

  &:first-child {
    .delivery-item__box {
      border-top: 1px solid var(--border-a);
    }
  }

  &:hover {
    background-color: var(--bg-a);
    cursor: url(../../img/cur.png), auto !important;

    .delivery-item {
      &__title {
        color: var(--color-b);
      }

      &__link {
        visibility: visible;
        opacity: 1;
      }

      &__name {
        color: var(--color-b);
        svg {
          fill: var(--bg-b);
        }
      }
    }
    .delivery-sublist {
      &__name {
        color: var(--color-b);
      }
    }
  }


  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 32px 0;

    border-bottom: 1px solid var(--border-a);
  }


  &__btn {
    width: fit-content;

    grid-column: 1;

@include mobile {
      order: 5;

      grid-column: initial;
    }
  }
  &__inner {
    display: grid;
    align-items: center;
    width: 100%;

    grid-gap: 28px 46px;
    grid-template-columns: 200px auto 1fr;

@include mobile {
      align-items: flex-start;

      grid-template-columns: 100%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 1.547vw, 22px);
    line-height: 120%;
    font-family: var(--font-family1);
    color: var(--color-g);

    transition: all 0.4s;

    grid-column: span 2;

@include mobile {
      order: 1;

      grid-column: initial;
    }
  }

  p {
    max-width: 298px;

    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 0.985vw, 14px);
    line-height: 120%;
    font-family: var(--font-family);
    color: var(--color-f);

    grid-column: span 2;

@include mobile {
      order: 2;

      grid-column: initial;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: fit-content;

    font-style: normal;
    font-weight: 700;
    font-size: clamp(13px, 0.985vw, 14px);
    line-height: 120%;
    font-family: var(--font-family);
    color: var(--color-f);
    text-transform: uppercase;

    visibility: hidden;
    opacity: 0;

    transition: all 0.4s;

    grid-gap: clamp(5px, 0.844vw, 12px);

@include mobile {
      order: 6;

      visibility: visible;
      opacity: 1;

      grid-column: initial;
    }
  }

  &__name {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;

    transition: all 0.4s;

    grid-column: span 2;
    grid-gap: 16px;

@include mobile {
      order: 3;

      grid-column: initial;
    }

    svg {
      transition: all 0.4s;

      fill: var(--bg-a);
    }
  }
}
