.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

// padding-bottom: clamp(20px, 1.969vw, 28px);
  padding: 0 calc((1422px - 1280px) / 2) clamp(20px, 1.969vw, 28px) calc((1422px - 1280px) / 2);

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px, 2.954vw, 42px);
    line-height: 115%;
    font-family: var(--font-family1);
    color: var(--color-a);
  }
}
