
.main-nav {
  display: flex;
  align-items: center;
  order: 2;
  width: 100%;

@include laptop {
    display: none;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  grid-gap: clamp(20px, 2.5vw, 32px);
  &__link {
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    font-family: var(--font-family);
    color: var(--color-a);

    transition: all 0.4s;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -3px;
      left: auto;

      width: 0;
      height: 1px;

      background-color: var(--bg-d);

      transition: all 0.4s ease-out;
    }

    &:hover {
      color: var(--color-c);

      &::before {
        right: auto;
        left: 0;

        width: 100%;
      }
    }
  }
}



