.main-container {
  z-index: 80;

  width: 100%;
  padding-top: var(--header-height);

  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;

@include tablet {
    background-position: 57%  -4%, 81% 45%;
  }

@include small-tablet {
    background-position: 100%  5%, 100% 60%;
    background-size: contain;
  }

@include mobile {
    background-position: 100%  15%, 100% 75%;
    background-size: contain;
  }

  &--about {
    background-position: center center;
    background-size: 100% 100%;
  }
}
