.main-container {
  // z-index: 50;
  width: 100%;
  padding-top: var(--header-height);

  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;

@include tablet {
    background-position: 57%  -4%, 81% 45%;
  }

@include small-tablet {
    background-position: 100%  5%, 100% 60%;
    background-size: contain;
  }

@include mobile {
    background-position: 100%  15%, 100% 75%;
    background-size: contain;
  }

  &--about {
    background-position: center center;
    background-size: 100% 100%;
  }

  &--assortment {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  &--wurst {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35%;
  }

  &--delivery {
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &--contact {
    background-repeat: no-repeat;
    background-position: center center;
  }
  &--brewery {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    img,
    picture {
      filter: blur(1px);
    }
  }

  &--restaurants {
    width: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
}
