.modal-form {
  display: grid;

  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

@include small-mobile {
    grid-template-columns: 100%;
  }  justify-items: center;

  &__input {
    width: 100%;
    min-height: 56px;

    font-size: 18px;
    font-family: var(--font-family);
    color: var(--color-l);
    text-indent: 20px;

    background-color: var(--bg-a);
    border: solid 1px var(--color-r);
    border-radius: 6px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    grid-gap: 4px;

    &--area {
      padding-bottom: 10px;

      grid-column: span 2;

@include small-mobile {
        grid-column: initial;
      }
    }
  }
  &__name {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-family1);
    color: var(--color-j);
  }


  &__area {
    width: 100%;
    min-height: 116px;

    font-size: 18px;
    font-family: var(--font-family);
    color: var(--color-l);

    background-color: var(--bg-a);
    border: solid 1px var(--color-r);
    border-radius: 6px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 255px;
    min-height: 45px;
    padding: 8px 54px;

    font-size: clamp(13px, 0.938vw, 15px);
    text-transform: uppercase;

    grid-column: span 2;

@include small-mobile {
      grid-column: initial;
    }

    &::before {
      display: none;
    }
  }
}
.modals-box {
  max-width: 582px;
}
