.slider-item {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 430px;

  background-image: url(/img/index/img1.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;



  &__inner {
    position: absolute;
    top: 50%;
    left: 12%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 525px;
    height: 100%;

    transform: translate(-12%, -50%);

    grid-gap: 16px;

@include tablet {
      left: 2%;

      transform: translate(-2%, -50%);
    }

@include mobile {
      max-width: 288px;
    }
  }

  &__title {
    position: relative;

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    font-family: "Georgia";
    text-align: center;
    color: var(--color-a);

@include mobile {
      font-size: 36px;
    }
  }
  &__signature {
    position: absolute;
    top: 55;
    left: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 119px;
    font-family: var(--font-family2);
    color: var(--color-e);
    letter-spacing: 0.04em;

    transform: translateY(-55%);
  }

  &__about {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    font-family: "Georgia";
    color: var(--color-a);

@include mobile {
      font-size: 16px;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    font-family: "Roboto";
    color: var(--color-a);

    opacity: 0.8;

@include mobile {
      font-size: 13px;
    }
  }
}
