.sub-swiper {
  width: 100%;
  max-width: 600px;
  margin-right: -13%;
  padding-bottom: 64px;

  pointer-events: none;

@include laptop {
    display: none;
  }

  &__slide {
    width: fit-content;
  }
}
