.tabs-content {
  @include tablet {
    padding: 0 10px;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    grid-gap: clamp(30px, 4.219vw, 60px);
  }
  &__text {
    max-width: 745px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    font-family: var(--font-family);
    color: var(--color-a);
  }

  &__box {
    position: relative;

    display: flex;
    align-items: center;

    grid-gap: 40px;

@include for-small-tablet {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.stock-inner {
  grid-gap: clamp(30px, 5.626vw, 80px);
}
