.wurst-list {
  display: grid;

  background-color: var(--bg-i);

  grid-template-columns: repeat(4, auto);

@include for-mobile {
    padding: 0;

    background-color: transparent;
    border: none;
  }

@include tablet {
    grid-gap: clamp(20px, 2.883vw, 41px) 10px;
    grid-template-columns: repeat(2, 1fr);
  }

@include mobile {
    width: fit-content;
    padding: 15px 0;

    grid-template-columns: 100%;
  }

  &__item {
    display: flex;
    align-items: center;

    grid-gap: 12px;

@include mobile {
      padding: 0 15px;
    }

@include for-mobile {
      opacity: initial;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    font-family: var(--font-family);
    color: var(--bg-c);
    text-transform: uppercase;
  }

  &__value {
    display: flex;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    font-family: var(--font-family);
    color: var(--color-a);

    grid-gap: 8px;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    grid-gap: 2px;
  }
}
